/* =======================================================================
	General
========================================================================== */

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Regular-3ebe1de28d9e0f07c3f616be9af103ef.woff) format("woff"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Regular-d672b41ff8a220175e5b54c202399f6a.ttf) format("truetype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Regular.svg#svgFontName) format("svg");
}

@font-face {
    font-family: 'ProximaNova-RegularItalic';
    src: url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-RegularItalic.eot?#iefix) format("embedded-opentype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-RegularItalic-a5f85f4d65d1453a9413c74d41aafd48.woff) format("woff"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-RegularItalic-f55ba3b4f2b95896fa8e9b3fdb6783f5.ttf) format("truetype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-RegularItalic.svg#svgFontName) format("svg");
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Semibold.eot?#iefix) format("embedded-opentype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Semibold-8b7c258f71addd8f88274b83c39951f5.woff) format("woff"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Semibold-bb626741d8b7a6bf8cb5b00f62978112.ttf) format("truetype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Semibold.svg#svgFontName) format("svg");
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Bold-242cf4c95fb0663f05652256e2e9c232.woff) format("woff"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Bold-74473c52a1ec339eda49441722db9791.ttf) format("truetype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Bold.svg#svgFontName) format("svg");
}

@font-face {
    font-family: 'ProximaNova-Black';
    src: url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Black.eot?#iefix) format("embedded-opentype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Black-062fa28cd9c03fd9d25cf6962012d596.woff) format("woff"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Black-caba3b4524d0eb697bff7ea502ea7dcd.ttf) format("truetype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Black.svg#svgFontName) format("svg");
}

@font-face {
    font-family: 'Bitter-Regular';
    src: url(//machinima-static.s3.amazonaws.com/assets/Bitter-Regular.eot?#iefix) format("embedded-opentype"), url(//machinima-static.s3.amazonaws.com/assets/Bitter-Regular-be3404895c7cce66c65747c53465d17c.woff) format("woff"), url(//machinima-static.s3.amazonaws.com/assets/Bitter-Regular-76864867fed0e9840927525519e2e07c.ttf) format("truetype"), url(//machinima-static.s3.amazonaws.com/assets/Bitter-Regular.svg#svgFontName) format("svg");
}

body {
	background: #000 url(/img/reskin.jpg) no-repeat top center;
	color: #fff;
	margin: 0;
	font-family: "ProximaNova-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: "ProximaNova-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a,
input,
button {
	outline: none;
}

.transition,
.transition:after {
	-webkit-transition: all 0.35s;
	-moz-transition:    all 0.35s;
	-o-transition:      all 0.35s;
	transition:			all 0.35s;
}

.transition:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	opacity: 0;
}

.transition:hover:after {
	opacity: 1;
}

/* =======================================================================
	Header
========================================================================== */
#header {
	background: transparent url(/img/header-repeat.jpg) repeat-x 0 0;
	width: 100%;
	height: 161px;
}

#header-container {
	width: 1000px;
	margin: 0 auto;
	height: inherit;
	position: relative;
}

#header-logo {
	/* background: transparent url(/img/header-logo.png) no-repeat 0 0; */
	width: 295px;
	height: 135px;
	position: absolute;
	top: 20px;
	left: 0;
	text-indent: -5000em;
	margin: 0;
}

#social {
	width: 250px;
	height: 47px;
	position: absolute;
	top: 5px;
	right: 0px;
	margin: 0;
	padding: 0;
}

#social > li {
	display: inline-block;
}

.social-icon {
	background: transparent url(/img/social-sprite.png) no-repeat 0 0;
	width: 41px;
	height: 47px;
	display: block;
	text-indent: -5000em;
	position: relative;
}

.social-icon:after {
	background: transparent url(/img/social-sprite.png) no-repeat 0 bottom;
}

#social-youtube {
	background-position: 0 0;
}

#social-twitter {
	background-position: -41px 0;
}

#social-twitter:after {
	background-position: -41px bottom;
}

#social-twitter:after {
	background-position: -41px bottom;
}

#social-facebook {
	background-position: -82px 0;
}

#social-facebook:after {
	background-position: -82px bottom;
}

#social-google {
	background-position: -123px 0;
}

#social-google:after {
	background-position: -123px bottom;
}

#social-instagram {
	background-position: -164px 0;
}

#social-instagram:after {
	background-position: -164px bottom;
}

/* =======================================================================
	Twitter ticker
========================================================================== */
#twitter-feed {
	position: absolute;
	top: 90px;
	width: 100%;
}

#twitter-logo {
	background: transparent url(/img/twitter-sprite.png) no-repeat 0 -51px;
	position: absolute;
	right: 30px;
	top: 8px;
	width: 45px;
	height: 51px;
	text-indent: -5000em;
}

#twitter-link:after {
	background: transparent url(/img/twitter-sprite.png) no-repeat 0 -51px;
}

#twitter-feed .carousel-control {
	background: transparent url(/img/twitter-sprite.png) no-repeat;
	position: absolute;
	width: 23px;
	height: 29px;
	top: -20px;
	cursor: pointer;
	display: block;
	font-size: 0px;
}

#twitter-feed .carousel-control.left {
	background-position: bottom left;
	right: 52px;
}

#twitter-feed .carousel-control.right {
	background-position: bottom left;
	right: 29px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#twitter-feed .carousel-control.left:after {
	background: transparent url(/img/twitter-sprite.png) no-repeat right bottom;
}

#twitter-feed .carousel-control.right:after {
	background: transparent url(/img/twitter-sprite.png) no-repeat right bottom;
}

.carousel {
	position: relative;
}

.carousel-inner {
	position: relative;
	width: 600px;
	overflow: hidden;
	top: 23px;
	left: 310px;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: none;
}

.carousel-inner > .next,
.carousel-inner > .prev,
.carousel-inner > .active {
	display: block;
	text-align: right;
}

.carousel-inner > .active {
	left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}
/* =======================================================================
	Video player
========================================================================== */

#video {
	width: 937px;
	margin: 20px auto;
}

#video-header {
	font-size: 0px;
	width: inherit;
	height: 23px;
	background: transparent url(/img/video-header.png) no-repeat 0 0;
}

/* =======================================================================
	Games Listing Container
========================================================================== */
#games-container {
	width: 1002px;
	margin: 0 auto;
}

#games-countdown,
#games-corner {
	height: 161px;
	float: left;
}

#games-countdown {
	position: relative;
	width: 960px;
	background: transparent url(/img/body-header-left.jpg) no-repeat 0 0;
}

#games-corner {
	width: 42px;
	background: transparent url(/img/body-header-right.png) no-repeat 0 0;
}

/* =======================================================================
	Countdown
========================================================================== */
#gamesCountdown-timer {
	color: #fff;
	width: 285px;
	position: absolute;
	top: 68px;
	right: 320px;
	font-size: 28px;
}

.countdownTimer-digit {
	position: absolute;
}

#countdownTimer-days {
	left: 18px;
}

#countdownTimer-hours {
	left: 89px;
}

#countdownTimer-minutes {
	right: 91px;
}

#countdownTimer-seconds {
	right: 18px;
}

/* =======================================================================
	Game Showcase
========================================================================== */
#games-list {
	clear: both;
	background: transparent url(/img/body-repeat.png) repeat-y 0 0;
	width: 1000px;
	margin: 0 auto;
	padding: 0 15px 65px;
}

.game {
	background: transparent url(/img/games-container.png) no-repeat 0 0;
	width: 220px;
	height: 375px;
	display: inline-block;
	margin: 13px;
	position: relative;
}

.game-title {
	color: #7e7e7f;
	font-size: 18px;
	margin: 0;
	height: 50px;
	line-height: 30px;
	text-indent: 15px;
	font-weight: normal;
}

/*
.game-art-container {
	width: 220px;
	height: 280px;
	overflow: hidden;
	position: relative;
}
*/

.game-art {
	background-position: center center;
	background-size: 100% 100%;
	width: 220px;
	height: 280px;
	display: block;
}

.game-art:hover {
	background-size: 110% 110%;
}


.game-vote {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
}

.gameVote-facebook,
.gameVote-twitter,
.gameVote-general {
	background: transparent url(/img/vote-sprite.png) no-repeat 0 0;
	position: absolute;
	border: 0 none;
	text-indent: -5000em;
	cursor: pointer;
	top: 2px;
}

.gameVote-twitter {
	background-position: -31px 0;
	left: 10px;
	width: 31px;
	height: 36px;
}

.gameVote-facebook {
	background-position: 0 0;
	left: 62px;
	width: 31px;
	height: 36px;
}

.gameVote-general {
	background-position: top right;
	width: 101px;
	height: 39px;
	right: -13px;
	top: -4px;
}

.gameVote-twitter:after {
	background: transparent url(/img/vote-sprite.png) no-repeat -31px -39px;
}

.gameVote-facebook:after {
	background: transparent url(/img/vote-sprite.png) no-repeat 0 -39px;
}

.gameVote-general:after {
	background: transparent url(/img/vote-sprite.png) no-repeat bottom right;
}

/*
.gameVote-general:hover,
.gameVote-general:disabled {
	background-position: 0 bottom;
}
*/

/* =======================================================================
	Game Showcase
========================================================================== */
#footer {
	background: transparent url(/img/footer-repeat.jpg) repeat-x 0 0;
	width: 100%;
	height: 199px;
	position: relative;
}

#footer-newsletter {
	position: absolute;
	width: 461px;
	height: 80px;
	left: 50%;
	top: -45px;
	-moz-transform:	 translate(-50%, 0);
    -o-transform:	 translate(-50%, 0);
    -webkit-transform:  translate(-50%, 0);
    transform:  translate(-50%, 0);
}

#newsletter-header {
	background: transparent url(/img/newsletter-sprite.png) no-repeat right top;
	width: 92px;
	height: 80px;
	margin: 0 auto;
	display: block;
	text-indent: -5000em;
}

#newsletter-form {
	width: inherit;
	height: inherit;
	position: relative;
}

#newsletter-input {
	background: transparent url(/img/newsletter-sprite.png) no-repeat 0 0;
	width: inherit;
	height: inherit;
	border: 0 none;
	color: #fff;
	text-indent: 30px;
	font-size: 20px;
}

#newsletter-submit {
	background: transparent url(/img/newsletter-sprite.png) no-repeat -461px 0;
	width: 90px;
	height: 49px;
	border: 0 none;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	text-transform: uppercase;
}

#newsletter-submit:disabled {
	opacity: .2;
}