/* =======================================================================
	General
========================================================================== */

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Regular-3ebe1de28d9e0f07c3f616be9af103ef.woff) format("woff"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Regular-d672b41ff8a220175e5b54c202399f6a.ttf) format("truetype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Regular.svg#svgFontName) format("svg");
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Semibold.eot?#iefix) format("embedded-opentype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Semibold-8b7c258f71addd8f88274b83c39951f5.woff) format("woff"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Semibold-bb626741d8b7a6bf8cb5b00f62978112.ttf) format("truetype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Semibold.svg#svgFontName) format("svg");
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Bold-242cf4c95fb0663f05652256e2e9c232.woff) format("woff"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Bold-74473c52a1ec339eda49441722db9791.ttf) format("truetype"), url(//machinima-static.s3.amazonaws.com/assets/ProximaNova-Bold.svg#svgFontName) format("svg");
}

body {
	background: #000 url(/img/reskin.jpg) no-repeat top center;
	color: #fff;
	margin: 0;
	font-family: "ProximaNova-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a,
input,
button {
	outline: none;
}

.clear {
	clear: both;
}

.transition,
.transition:after {
	-webkit-transition: all 0.35s;
	-moz-transition:    all 0.35s;
	-o-transition:      all 0.35s;
	transition:			all 0.35s;
}

.transition:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	opacity: 0;
}

.transition:hover:after {
	opacity: 1;
}

/* =======================================================================
	Notification
========================================================================== */
#notification {
	font-family: "ProximaNova-Bold", "Helvetica Neue", Arial, Helvetica, sans-serif; 
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	z-index: 1000;
	text-align: center;
	line-height: 50px;
}

/* =======================================================================
	Header
========================================================================== */
#header {
	background: transparent url(/img/header-repeat.jpg) repeat-x 0 0;
	width: 100%;
	height: 161px;
}

#header-container {
	width: 1000px;
	margin: 0 auto;
	height: inherit;
	position: relative;
}

#header-logo {
	background: transparent url(/img/header-logo.png) no-repeat 0 0;
	width: 295px;
	height: 135px;
	position: absolute;
	top: 20px;
	left: 0;
	text-indent: -5000em;
	margin: 0;
}

#social {
	width: 250px;
	height: 47px;
	position: absolute;
	top: 15px;
	right: 0px;
	margin: 0;
	padding: 0;
}

#social > li {
	display: inline-block;
}

.social-icon {
	background: transparent url(/img/social-sprite.png) no-repeat 0 0;
	width: 41px;
	height: 47px;
	display: block;
	text-indent: -5000em;
	position: relative;
}

.social-icon:after {
	background: transparent url(/img/social-sprite.png) no-repeat 0 bottom;
}

#social-youtube {
	background-position: 0 0;
}

#social-twitter {
	background-position: -41px 0;
}

#social-twitter:after {
	background-position: -41px bottom;
}

#social-twitter:after {
	background-position: -41px bottom;
}

#social-facebook {
	background-position: -82px 0;
}

#social-facebook:after {
	background-position: -82px bottom;
}

#social-google {
	background-position: -123px 0;
}

#social-google:after {
	background-position: -123px bottom;
}

#social-instagram {
	background-position: -164px 0;
}

#social-instagram:after {
	background-position: -164px bottom;
}

/* =======================================================================
	Twitter ticker
========================================================================== */
#twitter-feed {
	position: absolute;
	top: 90px;
	width: 100%;
}

#twitter-logo {
	background: transparent url(/img/twitter-sprite.png) no-repeat 0 -51px;
	position: absolute;
	right: 30px;
	top: 8px;
	width: 45px;
	height: 51px;
	text-indent: -5000em;
}

#twitter-link:after {
	background: transparent url(/img/twitter-sprite.png) no-repeat 0 -51px;
}

#twitter-feed .carousel-control {
	background: transparent url(/img/twitter-sprite.png) no-repeat;
	position: absolute;
	width: 23px;
	height: 29px;
	top: -20px;
	cursor: pointer;
	display: block;
	font-size: 0px;
}

#twitter-feed .carousel-control.left {
	background-position: bottom left;
	right: 52px;
}

#twitter-feed .carousel-control.right {
	background-position: bottom left;
	right: 29px;
	-webkit-transform: scaleX(-1);
	   -moz-transform: scaleX(-1);
         -o-transform: scaleX(-1);
		 	transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#twitter-feed .carousel-control.left:after {
	background: transparent url(/img/twitter-sprite.png) no-repeat right bottom;
}

#twitter-feed .carousel-control.right:after {
	background: transparent url(/img/twitter-sprite.png) no-repeat right bottom;
}

.carousel {
	position: relative;
	height: 75px;
}

.carousel-inner {
	font-family: "ProximaNova-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: absolute;
	width: 600px;
	overflow: hidden;
	left: 310px;
	top: 50%;
	-webkit-transform:	translate(0, -50%);
	   -moz-transform:	translate(0, -50%);
         -o-transform:	translate(0, -50%);
		 	transform:  translate(0, -50%);
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: none;
}

.carousel-inner > .next,
.carousel-inner > .prev,
.carousel-inner > .active {
	display: block;
	text-align: right;
}

.carousel-inner > .active {
	left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}
/* =======================================================================
	Video player
========================================================================== */

#video {
	width: 937px;
	margin: 25px auto 40px;
}

#video-header {
	font-size: 0px;
	width: inherit;
	height: 23px;
	background: transparent url(/img/video-header.png) no-repeat 0 0;
	margin: 0 0 30px 0;
}

#video-player {
	margin: 15px auto;
	display: block;
}

/* =======================================================================
	Games Listing Container
========================================================================== */
#games-header {
	background: transparent url(/img/games-header.png) no-repeat 0 0;
	width: 1002px;
	height: 52px;
	margin: 0 auto;
	text-indent: -5000em;
}

#games-container {
	font-family: "ProximaNova-Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	width: 1002px;
	margin: 0 auto;
	background: transparent url(/img/body-repeat.png) repeat-y 0 0;
}

/* =======================================================================
	Countdown
========================================================================== */
#games-countdown {
	width: 1002px;
	display: block;
	position: relative;
}

#gamesCountdown-header {
	font-size: 22px;
	font-weight: normal;
	color: #ba0b09;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}

#gamesCountdown-timer {
	color: #fff;
	font-size: 28px;
	width: 285px;
	height: 70px;
	margin: 0 auto 20px;
	display: block;
	padding-top: 5px;
}

.countdownTimer-digit {
	background: transparent url(/img/countdown.png) no-repeat 0 0;
	width: 72px;
	height: 57px;
	float: left;
	line-height: 57px;
	text-align: center;
	text-indent: 3px;
}

.countdownTimer-label {
	color: #7e7e7f;
	line-height: 10px;
	font-size: 10px;
	text-transform: uppercase;
	display: block;
	margin-top: 5px;
	text-align: center;
	width: 100%;
	text-indent: 5px;
}

#countdownTimer-days {
	background-position: right top;
	width: 67px;
	text-indent: 0;
}

#countdownTimer-days .countdownTimer-label {
	text-indent: 0;
}

/* =======================================================================
	Game Showcase
========================================================================== */
#games-list {
	clear: both;
	width: 942px;
	margin: 0 auto;
	padding: 20px 30px 65px;
}

.game {
	background: transparent url(/img/games-container.png) no-repeat 0 0;
	width: 220px;
	height: 375px;
	margin: 0px 20px 35px 0;
	position: relative;
	float: left;
	
/*
	-webkit-box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.66);
	   -moz-box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.66);
	        box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.66);
*/
}

.game:nth-child(4n) {
	margin-right: 0;
}

.game-title {
	color: #7e7e7f;
	font-size: 17px;
	margin: 0;
	width: 180px;
	height: 35px;
	margin: 5px 10px 10px 10px;
	line-height: 20px;
	font-weight: normal;
}

.game-art {
	background-position: center center;
	background-size: 100% 100%;
	width: 220px;
	height: 280px;
	display: block;
}

.game-art:hover {
	background-size: 110% 110%;
}


.game-vote {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
}

.gameVote-facebook,
.gameVote-twitter,
.gameVote-general {
	background: transparent url(/img/vote-sprite.png) no-repeat 0 0;
	position: absolute;
	border: 0 none;
	text-indent: -5000em;
	cursor: pointer;
	top: 2px;
}

.gameVote-twitter {
	background-position: -62px 0;
	left: 10px;
	width: 31px;
	height: 36px;
}

.gameVote-facebook {
	background-position: 0 0;
	left: 62px;
	width: 31px;
	height: 36px;
}

.gameVote-general {
	background-position: -124px 0;
	width: 101px;
	height: 39px;
	right: -13px;
	top: -4px;
}

.gameVote-twitter:after {
	background: transparent url(/img/vote-sprite.png) no-repeat -93px 0;
}

.gameVote-facebook:after {
	background: transparent url(/img/vote-sprite.png) no-repeat -31px 0;
}

.gameVote-general:after {
	background: transparent url(/img/vote-sprite.png) no-repeat -225px 0;
}

.gameVote-general:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent url(/img/vote-sprite.png) no-repeat -326px 0;
	opacity: 0;
}

.gameVote-facebook:disabled:hover,
.gameVote-twitter:disabled:hover,
.gameVote-general:disabled:hover {
	cursor: default;
}

.gameVote-facebook:disabled:hover:after,
.gameVote-twitter:disabled:hover:after,
.gameVote-general:disabled:hover:after {
	opacity: 0;
}

.gameVote-general:disabled:before {
	opacity: 1;
}


/* =======================================================================
	Footer
========================================================================== */
#footer {
	background: transparent url(/img/footer-repeat.jpg) repeat-x 0 0;
	width: 100%;
	height: 199px;
	position: relative;
	        
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
	   -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
	   		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}

#footer-newsletter {
	position: absolute;
	width: 459px;
	height: 80px;
	left: 50%;
	top: -45px;
	-webkit-transform:	translate(-50%, 0);
	   -moz-transform:	translate(-50%, 0);
         -o-transform:	translate(-50%, 0);
		 	transform:  translate(-50%, 0);
}

#newsletter-header {
	background: transparent url(/img/newsletter-sprite.png) no-repeat right top;
	width: 92px;
	height: 80px;
	margin: 0 auto;
	display: block;
	text-indent: -5000em;
}

#newsletter-form {
	width: inherit;
	height: inherit;
	position: relative;
}

#newsletter-input {
	background: transparent url(/img/newsletter-sprite.png) no-repeat 0 0;
	width: inherit;
	height: inherit;
	border: 0 none;
	color: #fff;
	text-indent: 30px;
	font-size: 20px;
}

#newsletter-submit {
	background: transparent url(/img/newsletter-sprite.png) no-repeat -461px 0;
	width: 90px;
	height: 49px;
	border: 0 none;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	text-transform: uppercase;
	font-size: 15px;
}

#newsletter-submit:disabled {
	opacity: .2;
}

#footer-legal {
	position: absolute;
	bottom: 15px;
	left: 50%;
	color: #777777;
	font-size: 12px;
	text-align: center;
	-webkit-transform: translate(-50%, 0);
	   -moz-transform: translate(-50%, 0);
	     -o-transform: translate(-50%, 0);
	     	transform: translate(-50%, 0);
}

#legal-message,
#legal-copyright {
	display: block;
}

#legal-message {
	text-transform: uppercase;
	margin: 15px 0;
	font-size: 13px;
}

#legal-copyright:before {
	display: inline-block;
	vertical-align: top;
	content: "";
	background: transparent url(/img/footer-logo.jpg) no-repeat left center;
	width: 92px;
	height: 17px;
	margin: 0 5px 0 0;
}

#legal-copyright {
	height: 17px;
	line-height: 18px;
}